/*
 * @Author: whz 
 * @Date: 2017-08-23 13:34:54 
 * @Last Modified by: whz
 * @Last Modified time: 2017-08-23 13:37:39
 */
.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.nav-simple .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}